<!-- <%= @random_poke_indexes %> -->
<!-- <%= @pokemon_team_data %> -->

<h2>Your Random Pokemon Team:</h2>
<div class="pokemon_cards">
  <% @pokemon_team_data.each do |pokemon| %>
    <div class="pokemon_card">
      <h3><%= pokemon["species"]["name"].capitalize %></h3>
      <% animated_src = pokemon['sprites']['versions']['generation-v']['black-white']['animated']['front_default'] %>
      <% if !animated_src.nil?  %>
        <img src="<%= animated_src %>" alt="<%= pokemon['species']['name'] %> Sprite">
      <% else %>
        <img src="<%= pokemon['sprites']['front_default'] %>" alt="<%= pokemon['species']['name'] %> Sprite">
      <% end %>
    </div>
  <% end %>
</div>
